<div class="row">

  <div class="col-md-6">
    <h1>contact</h1>
    <ul>
      <li>{{#link-to 'phone'}}Phone{{/link-to}}</li>
      <li>{{#link-to 'email'}}Email{{/link-to}}</li>
    </ul>

    {{#if messageSent}}
    <p>Message delivered into black hole. Your randomly generated # is {{confirmationNumber}}.</p>
    {{else}}
    <p><a href="#" {{action 'sendMsg'}}>Send msg into the ether.</a></p>
    {{/if}}

  </div>

  <div class="col-md-6">
    {{outlet}}
  </div>

</div>